@media (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .listMenu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #111;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    .listMenu.active {
        display: flex;
    }

    .listing {
        flex-direction: column;
        gap: 20px;
    }

    .signupBtn {
        display: none;
    }
}